---
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";
import YumNummIcon from "@images/yumnumm_icon.jpg";
import { Image, Picture } from "@astrojs/image/components";
---

<Layout title="About Me" description="ページが見つかりませんでした">
  <section class="grid place-items-center text-center py-20">
    <h1 class="text-6xl mb-5">About Me</h1>
    <Image
      src={YumNummIcon}
      class="w-32 h-32 mb-2 rounded-full"
      alt="YumNumm Icon"
    />
    <h2 class="text-3xl mb-5">Onoue Ryotaro(YumNumm)</h2>
    <!-- Icons -->
    <div class="flex justify-center mb-5">
      <!-- Twitter icon -->
      <a
        href="https://twitter.com/yumnumm"
        class="p-3 rounded-xl dark:bg-zinc-800 hover:shadow-xl bg-zinc-300 m-2 ring-2 ring-opacity-0 ring-zinc-500 hover:ring-opacity-100 transition-all motion-reduce:transition-none"
        ><Icon name="mdi:twitter" size="24" />
      </a>
      <!-- GitHub icon -->
      <a
        href="https://github.com/YumNumm"
        class="p-3 rounded-xl dark:bg-zinc-800 hover:shadow-xl bg-zinc-300 m-2 ring-2 ring-opacity-0 ring-zinc-500 hover:ring-opacity-100 transition-all motion-reduce:transition-none"
        ><Icon name="mdi:github" size="24" />
      </a>
    </div>
    <!-- Description -->
    <p class="text-xl mb-5">DESCRIPTION</p>
    <a
      href="/"
      class="p-3 rounded-xl dark:bg-zinc-800 hover:shadow-xl bg-zinc-300 text-black dark:text-zinc-300 m-2 ring-2 ring-opacity-0 ring-zinc-500 hover:ring-opacity-100 transition-all motion-reduce:transition-none"
      >ホームへ戻る</a
    >
  </section>
</Layout>
