---
import { Icon } from "astro-icon";
---

<footer class="flex justify-center items-center max-w-2xl mx-auto w-full flex-col gap-y-2 mt-auto pb-12">
  <a class="flex items-center gap-2 text-current" href="https://vercel.com?utm_source=basicblog.lanceross.xyz&utm_campaign=oss" rel="noopener noreferrer" target="_blank" title="Vercel homepage"
    ><span class="whitespace-nowrap">Powered by</span>
    <Icon name="vercel" class="w-24" />
  </a>
</footer>