---
import { Icon } from "astro-icon";
---

<footer class="flex justify-center items-center max-w-2xl mx-auto w-full flex-col gap-y-2 mt-auto pb-12">
  <a class="flex items-center gap-2 text-current" href="https://pages.cloudflare.com/" rel="noopener noreferrer" target="_blank" title="Cloudflare Pages Homepage"
    ><span class="whitespace-nowrap">Powered by</span>
    <Icon name="fontisto:cloudflare" class="w-24" />
  </a>
</footer>